services:
  app:
    build: .
    ports:
      # - "8080:80"
      - "8167:80"
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
